@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100svh;
  background-color: slategray;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.day, .year-month {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.year-month {
  background-color: rgb(228, 35, 35);
  border-radius: 0 4px 4px 0;
  color: aliceblue;
   font-size: 1.3rem;
}

.wrapper .day #day-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0D0D0D;
}

.wrapper .day #week-day {
  font-size: 1rem;
  font-weight: 400;
  color: #0D0D0D;
}